<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic 掲示板
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form name="form">
    <ion-list class="inputBlock">
      <ion-item margin-bottom class="textBlock">
        <ion-label position="floating">メッセージ</ion-label>
        <ion-input name="message" type="text"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="full" block class="submit">投稿</ion-button>
    </ion-list>
  </form>
</ion-content>
